<mat-card id="lecturerCard" *ngIf="loaded">
  <mat-card-title-group>
    <mat-card-title>Lecturers</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" placeholder="Search" [formControl]="search">
    </mat-form-field>
    <button mat-button (click)="addLecturer()">Add Lecturer</button>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let lecturer of lecturers">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{lecturer.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-lecturer-list-item [lecturer]="lecturer"></app-lecturer-list-item>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<mat-spinner *ngIf="!loaded" style="margin-top: 16px"></mat-spinner>
