<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-card id="loginCard">
    <mat-card-title id="loginTitle">Login</mat-card-title>
    <mat-card-content id="loginContent">
      <mat-form-field id="emailInputField">
        <input id="emailInput" matInput placeholder="Email address" formControlName="email" type="email" required/>
        <mat-error *ngIf="email.errors?.email">Not valid email</mat-error>
        <mat-error *ngIf="email.errors?.userNotFound">Wrong email</mat-error>
      </mat-form-field>
      <mat-form-field id="passwordInputField">
        <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password" required/>
        <mat-error *ngIf="password.errors?.wrongPassword">Wrong password</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions id="loginActions">
      <button id="loginButton" mat-button color="primary" type="submit">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
