.spacer {
  flex: 1 1 auto;
}

@media only screen and (max-width: 450px) {
  .visible-small {
    display: inline;
  }

  .visible-desktop {
    display: none;
  }
}

@media only screen and (min-width: 451px) {
  .visible-small {
    display: none;
  }

  .visible-desktop {
    display: inline;
  }
}
