<mat-toolbar color="primary">
  <span>Classroom Finder</span>
  <span class="spacer"></span>
  <span *ngIf="shouldShowNavigation | async">
    <button mat-button class="visible-desktop" routerLink="/dashboard/buildings">Buildings</button>
    <button mat-button class="visible-desktop" routerLink="/dashboard/admins">Admins</button>
    <button mat-button class="visible-desktop" routerLink="/dashboard/lecturers">Lecturers</button>

    <mat-menu #appMenu="matMenu" class="visible-small">
      <button mat-menu-item routerLink="/dashboard/buildings">Buildings</button>
      <button mat-menu-item routerLink="/dashboard/admins">Admins</button>
      <button mat-menu-item routerLink="/dashboard/lecturers">Lecturers</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="visible-small">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
</mat-toolbar>
