:host {
  width: 100%;
}

#theUploadArea {
  border: 1px dotted white;
  height: 200px;
  flex-grow: 1;
}

#theUploadArea.foobar {
  flex-grow: 1;
  border: 1px solid deeppink;
}

#theSpinner {
  height: 200px;
}

:host {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
