<div *ngIf="!isLoading" id="theUploadArea" [ngClass]="{'foobar': isHovered}" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragExit($event)">
</div>

<mat-progress-spinner id="theSpinner" *ngIf="isLoading" [value]="percentChanges | async"></mat-progress-spinner>
