<mat-card *ngIf="loaded" >
  <mat-card-title>
    Graph Editor
  </mat-card-title>
  <mat-card-content>
    <svg
         [attr.width]="buildingGraphService.width + 40" [attr.heigth]="buildingGraphService.height + 40"
         [attr.viewBox]="'0 0 ' + (buildingGraphService.width + 40) + ' ' + (buildingGraphService.height + 40)"
         xmlns:svg="http://www.w3.org/1999/html">
      <!-- for each node we draw a circle -->
      <svg:g *ngFor="let n of buildingGraphService.graphNodes" (click)="onClick(n.id)">
        <svg:circle
          r="10" [attr.fill]="selectedId === n.id ? '#3addff' : '#424242'" stroke="#17f"
          [attr.cx]="n.x" [attr.cy]="n.y"/>
        <svg:text
          [attr.x]="n.x" [attr.y]="n.y" fill="#eee">{{n.label}}</svg:text>
      </svg:g>
      <!-- for each edge we draw a qubic bezier curve using the middle point -->
      <svg:path *ngFor="let e of buildingGraphService.graphEdges"
                [attr.d]="buildingGraphService.edgeToString(e)"
                stroke="#c2185b" stroke-width="5" fill="none"/>
    </svg>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="selectedId === ''" (click)="addChild()">Add Child</button>
    <button mat-button color="warn" [disabled]="!isSelectedLeaf()" (click)="del()">Delete</button>
  </mat-card-actions>
</mat-card>
<mat-progress-spinner *ngIf="!loaded" mode="indeterminate" style="margin-top: 16px"></mat-progress-spinner>

