svg {
  transform-origin: 0 0;
}

circle {
  transition: cx 1s ease, cy 1s ease, fill 0.5s ease;
}

text {
  transition: x 1s ease, y 1s ease, fill 0.5s ease;
}

path {
  transition: d 1s ease;
}

circle:hover, text:hover {
  cursor: pointer;
}

:host {
  flex-grow: 1;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

mat-card {
  transition: 1s ease;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 1100px;

}

mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
