:host {
  display: flex;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.asd {
  margin-right: 8px;
}

.fields {
  display: flex;
  flex-wrap: wrap;
}

.controls {
  display: flex;
}

mat-form-field {
  flex-grow: 1;
}
