<form [formGroup]="lecturerEditForm">
  <div class="fields">
    <mat-form-field class="asd">
      <input matInput  type="text" formControlName="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field class="asd">
      <input matInput  type="text" formControlName="code" placeholder="Code">
    </mat-form-field>

    <mat-form-field class="asd">
      <input matInput type="text" formControlName="email" placeholder="Email">
    </mat-form-field>

    <mat-form-field>
      <input matInput  type="text" formControlName="officeId" placeholder="Classroom Code">
    </mat-form-field>
  </div>

  <div class="controls">
    <button mat-button (click)="updateLecturer()">Update</button>
    <button mat-button color="warn" (click)="deleteLecturer()">Delete</button>
  </div>
</form>
