:host {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

#editContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#editCard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

mat-form-field {
  flex-grow: 1;
}

app-classroom-list-component {
  flex-grow: 1;
  max-width: 800px;
  margin-left: 8px;
  margin-right: 8px;
}

#editForm {
  flex-grow: 1;
  min-width: 250px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

.theImage {
  max-height: 800px;
  max-width: 300px;
}

mat-card-content {
  width: 100%;
}

.mat-form-field-wrapper {
  width: 100%;
}
