<form [formGroup]="nodeEditForm" (ngSubmit)="onSubmit()" id="editForm">
  <mat-card id="editCard">

    <mat-card-title id="editTitle">Node Editor</mat-card-title>

    <mat-card-content id="editContent">

      <mat-form-field id="labelInputField">
        <input id="label" matInput placeholder="Label" formControlName="label" type="text" required/>
      </mat-form-field>

      <mat-form-field id="typeInputField">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field id="actionInputField">
        <mat-label>Action</mat-label>
        <mat-select formControlName="action">
          <mat-option *ngFor="let action of actions" [value]="action">
            {{action}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>

    <app-image-upload [navNode]="navNode"
                      (imageUploadFinished)="onImageUploadFinished()"
                      (imageUploadStarted)="onImageUploadStarted()"
                      *ngIf="isEditing">
    </app-image-upload>

    <img mat-card-image class="theImage" [attr.src]="navNode.imageUrl" *ngIf="!isEditing"/>

    <mat-card-actions>
      <button id="updateButton" mat-button type="submit">Update</button>
      <button id="updateImageButton" mat-button (click)="onSwitchImageClick()"
              *ngIf="!isEditing">Switch Image
      </button>
      <button id="cancelButton" mat-button (click)="onCancelSwitchImage()"
              *ngIf="isEditing">Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<app-classroom-list-component [navNodeId]="navNode.id"></app-classroom-list-component>

