table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

:host {
  flex-grow: 1;
  margin: 8px;
}

.building-card {
  margin: 10px;
  flex-grow: 1;
  min-width: 240px;
  max-width: 350px;
}

:host {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
