<div *ngFor="let building of allBuildings$ | async" class="building-card">
  <app-building-card [building]="building"></app-building-card>
</div>
<mat-spinner *ngIf="!loaded" style="margin-top: 16px"></mat-spinner>
