<form [formGroup]="classroomEditForm">
  <mat-form-field>
    <input matInput placeholder="Name" type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Code" type="text" formControlName="code">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Position" type="number" formControlName="position">
  </mat-form-field>

  <mat-form-field id="directionFormField">
    <mat-label>Direction</mat-label>
    <mat-select formControlName="direction">
      <mat-option *ngFor="let direction of directions" [value]="direction">
        {{direction}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="updateClassroom()">Update</button>
  <button mat-button color="warn" (click)="deleteClassroom()">Delete</button>
</form>
