<app-graph-display (nodeClick)="onNodeClick($event)" (addChildClick)="onAddChildClick($event)"></app-graph-display>
<app-node-edit *ngIf="selectedNodeId" [selectedId]="selectedNodeId"></app-node-edit>
