<mat-card id="classroomsCard" *ngIf="classrooms && classrooms?.length > 0">
  <mat-card-title>
    Classrooms
    <span id="separator"></span>
    <button mat-mini-fab id="theFAB" color="primary" (click)="addClassroom()"><span><mat-icon>add</mat-icon></span></button>
  </mat-card-title>
  <mat-card-content>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let classroom of classrooms">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{classroom.name}}
          </mat-panel-title>
          <mat-panel-description>
            Click To Edit Classroom
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-classroom-list-item [classroom]="classroom"></app-classroom-list-item>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>



