<mat-card>
  <mat-card-header>
    <mat-card-title>{{building.name}}</mat-card-title>
    <mat-card-subtitle>{{building.streetName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img [src]="building.imageUrl">
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">Edit</button>
    <button mat-button color="primary" [routerLink]="['/dashboard/buildings', building.id]">Classrooms</button>
  </mat-card-actions>
</mat-card>
